  /* COMMON */

  * {
    font-family: Raleway, sans-serif;
  }

  header, section, footer {
    display: block;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .row::after {
    content: '';
    display: block;
    clear: both;
  }

  .col {
    float: left;
  }
  /* HEADER */

  header {
    background: black;
    height: 41px;
    color: #ffffff;
  }

  header .container {
    padding: 12px 58px;
  }

  .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    color: #ffffff;
  }

  span.highlight {
    color: #00c4aa;
    font-weight: bolder;
  }
  /*NAV*/

  header nav.col {
    float: right;
  }

  li {
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 15px;
  }

  nav.col .aboutComList {
    position: relative;
    margin: 0 27px;
  }

  li.aboutComList ul li {
    margin: 0;
    display: block;
    padding-bottom: 0;
  }

  nav li ul {
    position: absolute;
    width: 120px;
    height: 111px;
    top: 29px;
    left: -23px;
    background: #000000;
    border-top: 13px solid white;
    position: absolute;
    display: none;
  }

  li.aboutComList ul a {
    display: block;
    font-size: 14px;
    padding-top: 14px;
    padding-left: 12px;
    font-weight: 400;
    text-transform: none;
  }

  .triangle {
    position: absolute;
    top: -10px;
    left: 45px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
  }

  nav li:hover ul {
    display: block;
    z-index: 1;
  }

  nav.col a {
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  header nav.col a:hover {
    cursor: pointer;
    color: #00c4aa;
  }
  /*SECTION 1*/

  section:nth-of-type(1) .col {
    width: 50%;
    height: 500px;
  }

  section:nth-of-type(1) {
    background: -moz-linear-gradient(top, rgba(153, 153, 153, 0) 69%, rgba(153, 153, 153, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(153, 153, 153, 0) 69%, rgba(153, 153, 153, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(153, 153, 153, 0) 69%, rgba(153, 153, 153, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#a6999999', GradientType=0);
    /* IE6-9 */
  }

  section:nth-of-type(1) .container {
    position: relative;
  }

  img.chair {
    width: 100%;
    transform: scale(1.07);
    padding-top: 76px;
    padding-left: 44px;
  }

  article {
    width: 400px;
    margin-top: 130px;
    margin-left: -40px;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  article p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 44px;
  }

  a.more {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 10px 37px;
    text-transform: uppercase;
    background: #00c4aa;
    border-radius: 10px;
    border: 2px solid #00c4aa;
  }

  .more:hover {
    border: 2px solid #00c4aa;
    color: #00c4aa;
    background: transparent;
    cursor: pointer;
  }

  .arrows {
    width: 48px;
    height: 48px;
    z-index: 1;
    color: #00c4aa;
  }

  .arrows {
    cursor: pointer;
  }

  .next {
    position: absolute;
    font-size: 83px;
    font-weight: 300;
    right: 76px;
    top: 206px
  }

  .prev {
    position: absolute;
    font-size: 83px;
    font-weight: 300;
    left: 76px;
    top: 206px
  }
  /*SECTION 2*/

  section:nth-of-type(2) {
    background: white;
  }

  section:nth-of-type(2) .row {
    height: 350px;
    padding: 0 52px;
  }

  .box {
    margin: 26px 14px;
    position: relative;
    height: 227px;
    width: 332px;
  }

  .chairImg {
    background: url('../image/box1_img.jpg') center no-repeat;
  }

  .chairImg2 {
    background: url('../image/box2_img.jpg') center no-repeat;
  }

  .opacityBg {
    position: absolute;
    z-index: 1;
    bottom: 14px;
    width: 100%;
    height: 64px;
    background: rgba(255, 255, 255, .5)
  }

  .textBox h2, .opacityBg h2 {
    padding-bottom: 2px;
    width: 140px;
    padding-left: 5px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin: 13px 15px;
    border-bottom: 7px solid #00c4aa;
  }

  .textBox {
    height: 254px;
    border: 1px solid rgba(128, 128, 128, .3);
  }

  .textBox h2 {
    margin-top: 28px;
    margin-left: 18px;
    margin-bottom: 13px;
  }

  .textBox p {
    width: 288px;
    line-height: 21px;
    margin-bottom: 19px;
    color: #606060;
    text-align: left;
    margin-left: 18px;
    font-size: 14px;
  }
  /*SECTION 3*/

  section:nth-of-type(3) {
    background: #f1f1f1;
  }

  section:nth-of-type(3) .container {
    padding: 0 51px;
    padding-bottom: 66px;
  }

  h2.heading {
    width: 320px;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 4px;
    font-size: 22px;
    border-bottom: 10px solid #00c4aa;
    margin-left: 16px;
    margin-bottom: 75px;
  }

  .card {
    color: #757575;
    position: relative;
    width: 328px;
    height: 500px;
    background-color: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 0 16px;
  }

  .card:hover {
    border: 1px solid #00c4aa;
    background-color: #00c4aa;
  }

  .dot {
    position: absolute;
    left: 135px;
    top: -38px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    background-color: #c1c1c1;
    box-shadow: 0 0 0 14px white inset;
  }

  .card:hover .dot {
    background-color: #f9f9f9;
    border: 1px solid #00c4aa;
    box-shadow: 0 0 0 14px #00c4aa inset;
  }

  .card h3 {
    color: #00c4aa;
    margin-top: 27px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
  }

  .card:hover h3 {
    color: #f9f9f9;
  }

  .price {
    position: relative;
    font-size: 46px;
    line-height: 120px;
    margin: 25px auto;
    width: 130px;
    height: 130px;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 50%;
    background-color: #f9f9f9;
  }

  .card:hover .price {
    border-color: #00c4aa;
    color: #00c4aa;
  }

  sup {
    font-size: 14px;
    top: -30px;
    ;
  }

  .price span {
    position: absolute;
    top: 37px;
    font-size: 20px;
    left: 28px;
    text-transform: uppercase;
    font-size: 15px
  }

  .text {
    margin-top: 35px;
  }

  .card p {
    font-size: 24px;
    line-height: 45px;
    height: 45px;
    text-align: center;
    background-color: #e3e3e3;
  }

  .card p:nth-of-type(2n+2) {
    background-color: #f1f1f1;
  }

  a.button-join {
    position: absolute;
    bottom: 20px;
    left: 105px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    background: #00c4aa;
    padding: 8px 28px;
    border-radius: 10px;
  }

  .card:hover .button-join {
    background-color: #f9f9f9;
    color: #00c4aa;
    cursor: pointer;
  }
  /*SECTION 4*/

  section:nth-of-type(4) {
    background: white;
  }

  section:nth-of-type(4) .container {
    padding: 30px 67px;
  }

  section:nth-of-type(4) .col:nth-child(1) {
    width: 60%;
  }

  section:nth-of-type(4) h2.heading {
    padding-top: 0;
    margin-left: 0px;
    margin-bottom: 42px;
  }

  input#email, input#name {
    font-family: Raleway, sans-serif;
    display: block;
    margin-bottom: 27px;
    width: 100%;
    font-size: 30px;
    padding: 15px;
    border: 1px solid #00c4aa;
    outline: none;
  }

  input:focus {
    box-shadow: 0 0 4px 1px #00c4aa;
  }

  input::placeholder {
    color: #cccccc;
  }

  textarea {
    font-family: Raleway, sans-serif;
    border: 1px solid #00c4aa;
    width: 100%;
    outline: none;
    resize: none;
    padding: 12px;
    font-size: 32px;
  }

  textarea::placeholder {
    color: #cccccc;
  }

  textarea:focus {
    box-shadow: 0 0 4px 1px #00c4aa;
  }
  /*SECTION 4 RIGHT SIDE*/

  section:nth-of-type(4) .col:nth-child(2) {
    width: 40%;
    padding: 0 57px;
  }

  img.red-chair {
    padding: 55px 19px 35px 19px;
    display: block;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type=checkbox]:checked+label {
    background: url("../image/form_ok.jpg") 0 6px no-repeat;
  }

  label {
    width: 380px;
    float: left;
    font-size: 21px;
    padding-bottom: 36px;
    padding-left: 62px;
    color: #888888;
    margin-bottom: 16px;
  }

  a.button-send {
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 31px;
    font-weight: bold;
    padding: 17px 115px;
    color: #ffffff;
    background: #00c4aa;
    border: 2px solid #00c4aa;
    border-radius: 10px;
    text-align: center;
  }

  a.button-send:hover {
    border: 2px solid #00c4aa;
    color: #00c4aa;
    background: transparent;
    cursor: pointer;
  }
  /*FOOTER*/

  footer .container {
    height: 103px;
    padding: 0 68px;
    color: #888888;
  }

  small {
    font-size: 15px;
    letter-spacing: 1px;
  }

  footer.footer .container .col:nth-of-type(1) {
    margin: 74px 0 52px 0;
  }

  footer.footer .container .col:nth-of-type(2), footer.footer .container .col:nth-of-type(3) {
    float: right;
  }

  footer .col:nth-of-type(2) {
    margin: 70px 10px 52px 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500
  }

  footer .col:nth-of-type(2) a {
    color: #888888;
  }

  .bold {
    font-weight: 600;
  }

  footer .col:nth-of-type(3) {
    margin-right: 53px;
    margin-top: 59px;
  }
