footer,
header,
section {
  font-family: Raleway, sans-serif;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.center {
  @extend %center;
}

.highlight {
  color: $mainColor;
  font-weight: bolder;
}
// Header
header {
  background: black;
  min-height: 41px;
  color: #ffffff;

  .container {
    padding: 12px 58px;

    .logo {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      margin-left: 10px;
      font-size: 14px;
      color: #ffffff;
    }

    .nav {
      float: right;

      li {
        display: inline-block;
        margin: 0 20px;
        padding-bottom: 15px;
        font-size: 13px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;


        a {
          transition: .3s;

          &:hover {
            cursor: pointer;
            color: $mainColor;
          }
        }

        ul {
          position: absolute;
          width: 120px;
          height: 111px;
          top: 28px;
          left: -23px;
          background: #000000;
          border-top: 13px solid white;
          position: absolute;
          display: none;

          li {
            margin: 0;
            display: block;
            padding-bottom: 0;

            &::before {
              content: '';
              position: absolute;
              top: -10px;
              left: 50px;
              z-index: 1;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid black;
            }

            a {
              display: block;
              font-size: 14px;
              padding-top: 14px;
              padding-left: 12px;
              font-weight: 400;
              text-transform: none;
            }
          }
        }

        &.aboutComList {
          position: relative;
        }

        &:hover ul {
          display: block;
          z-index: 1;
        }
      }
    }
  }
}

// SECTION 1

section:nth-of-type(1) {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0.99) 77%, rgba(178,178,178,0.99) 91%, rgba(128,128,128,0.99) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(8%, rgba(255,255,255,1)), color-stop(77%, rgba(255,255,255,0.99)), color-stop(91%, rgba(178,178,178,0.99)), color-stop(100%, rgba(128,128,128,0.99)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0.99) 77%, rgba(178,178,178,0.99) 91%, rgba(128,128,128,0.99) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0.99) 77%, rgba(178,178,178,0.99) 91%, rgba(128,128,128,0.99) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0.99) 77%, rgba(178,178,178,0.99) 91%, rgba(128,128,128,0.99) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0.99) 77%, rgba(178,178,178,0.99) 91%, rgba(128,128,128,0.99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808080', GradientType=0 );

  .center {
    height: 400px;
  }

  .chair {
    transform: scale(1.2);
  }

  article {
    text-align: center;
    width: 100%;
    padding: 1em;

    h1 {
      text-align: center;
      font-size: 38px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 44px;
    }

    .more {
      color: #ffffff;
      font-size: 24px;
      text-align: center;
      padding: 10px 37px;
      text-transform: uppercase;
      background: $mainColor;
      border-radius: 10px;
      border: 2px solid $mainColor;
      transition: .3s;
      &:hover {
        border: 2px solid $mainColor;
        color: $mainColor;
        background: transparent;
        cursor: pointer;
      }
    }


  }
}

// SECTION 2

section:nth-of-type(2) {
  background: white;

  .row {
    padding: 2em 2em;
  }

  h2 {
    width: 140px;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin: 13px 15px;
    border-bottom: 7px solid #00c4aa;
  }

  .box {
    margin: 1.5em .5em;;
    position: relative;
    height: 240px;
    width: 330px;
    overflow: hidden;



    &:hover .opacityBg {
      opacity: 0;
      transform: translate(0, -200px)
    }
  }

  .textBox {
    border: 1px solid rgba(128, 128, 128, .3);

    p {
      line-height: 21px;
      color: #606060;
      text-align: left;
      margin-left: 18px;
      font-size: 14px;
    }
  }

  .chairImg {
    background: url('../image/box1_img.jpg') 100% no-repeat;
  }

  .chairImg2 {
    background: url('../image/box2_img.jpg') no-repeat center;
  }

  .opacityBg {
    position: absolute;
    z-index: 1;
    bottom: 14px;
    width: 100%;
    height: 64px;
    background: rgba(255, 255, 255, .5);
    transition: .3s;
  }

}

// SECTION 3

section:nth-of-type(3) {
  background: #f1f1f1;

  h2.heading {
    width: 320px;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 4px;
    font-size: 22px;
    border-bottom: 10px solid $mainColor;
    margin-left: 16px;
    margin-bottom: 75px;
  }

  .card {
    color: #757575;
    position: relative;
    width: 328px;
    height: 500px;
    background-color: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2em 1em;
    transition: .3s;

    &:hover {
      border: 1px solid $mainColor;
      background-color: $mainColor;

      .dot {
        background-color: #f9f9f9;
        border: 1px solid $mainColor;
        box-shadow: 0 0 0 14px $mainColor inset;
      }

      h3 {
        color: #f9f9f9;
      }

      .price {
        border-color: $mainColor;
        color: $mainColor;
      }

      .button-join {
        background-color: #f9f9f9;
        color: $mainColor;
        cursor: pointer;
      }
    }

    .dot {
      position: absolute;
      left: calc(50% - 28px);
      top: -38px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid #c1c1c1;
      background-color: #c1c1c1;
      box-shadow: 0 0 0 14px white inset;
    }

    h3 {
      color: $mainColor;
      margin-top: 27px;
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
    }

    .price {
      @extend %center;
      position: relative;
      font-size: 46px;
      line-height: 120px;
      margin: 25px auto;
      width: 130px;
      height: 130px;
      border: 1px solid #c1c1c1;
      border-radius: 50%;
      background-color: #f9f9f9;

      sup {
        position: absolute;
        font-size: 14px;
        top: -13px;
      }

      span {
        position: absolute;
        top: 37px;
        font-size: 20px;
        left: 28px;
        text-transform: uppercase;
        font-size: 15px
      }
    }

    .text {
      margin-top: 35px;
    }

    p {
      font-size: 24px;
      line-height: 45px;
      height: 45px;
      text-align: center;
      background-color: #e3e3e3;

      &:nth-of-type(2n+2) {
        background-color: #f1f1f1;
      }

    }

    .button-join {
      @extend %center;
      position: absolute;
      bottom: 20px;
      left: calc(50% - 60px);
      margin: 0 auto;
      color: white;
      text-transform: uppercase;
      font-size: 16px;
      background: $mainColor;
      padding: 8px 28px;
      border-radius: 10px;
      border: none;
    }


  }



}


// SECTION 4

section:nth-of-type(4) {

  background-color: #f9f9f9;
  padding:30px 0;

  h3 {
  color: #575757;
  font-size: 18px;
  }

}

// SECTION 5

section:nth-of-type(5) {
  background: white;
  padding: 2em 1em;

  h2.heading {
    width: 320px;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 4px;
    font-size: 22px;
    border-bottom: 10px solid $mainColor;
    margin-bottom: 75px;
  }


  input#email, input#name {
    font-family: Raleway, sans-serif;
    display: block;
    margin-bottom: 27px;
    width: 100%;
    font-size: 30px;
    padding: 15px;
    border: 1px solid  $mainColor;
    outline: none;

    &:focus {
      box-shadow: 0 0 4px 1px  $mainColor;
    }

    &::placeholder {
      color: #cccccc;
    }

  }

  textarea {
    font-family: Raleway, sans-serif;
    border: 1px solid  $mainColor;
    width: 100%;
    outline: none;
    resize: none;
    padding: 12px;
    font-size: 32px;

    &::placeholder {
      color: #cccccc;
    }

    &:focus {
      box-shadow: 0 0 4px 1px  $mainColor;
    }
  }

  .form-accept {
    text-align: center;
    padding: 2em;
  }


  .checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
    input {
      display: block;
      opacity: 0;
      height: 48px;
      position: absolute;
      width: 48px;
      cursor: pointer;

      &:checked + label::after {
        display: block;
      }
    }

    label {
      display: block;
      padding-left: 65px;
      position: relative;
      font-size: 28px;
      color: #cecece;
      line-height: 120%;
      padding-top: 10px;
      cursor: pointer;
      &::before,
      &::after {
        border: 1px solid $mainColor;
        content: "";
        display: block;
        left: 0;
        height: 48px;
        position: absolute;
        width: 48px;
        top: 0;
      }

      &::after {
        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
        border: 0;
        display: none;
      }

    }


  }

  .button-send {
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 31px;
    font-weight: bold;
    padding: 17px 115px;
    color: #ffffff;
    background: $mainColor;
    border: 2px solid $mainColor;
    border-radius: 10px;
    text-align: center;
    transition: .3s;

    &:hover {
      color: $mainColor;
      background: transparent;
      cursor: pointer;
    }

  }

}


//FOOTER

footer {

  .container {
    height: 103px;
    color: #888888;

    a {
      color: #888888;
    }

    .bold {
      font-weight: 600;
    }

    small {
      font-size: 15px;
      letter-spacing: 1px;
    }

    .footer-margin {
      margin: 1em 0;
    }
  }
}
